<ul>

 <li>UserId: <%= athlete.user_id %></li>  
 <li>Age: <%= athlete.age %></li>
  <li>Gender: <%= athlete.gender %></li>
  <li>Height: <%= athlete.height %></li>  
  <li>Weight: <%= athlete.weight %></li>
  <li>Skill: <%= athlete.skill %></li>  
  <li>Power: <%= athlete.power %></li>
  <li>Speed: <%= athlete.speed %></li>

</ul>
