<h1>Athlete Details</h1>

<ul>
<li>Age: <%= @athlete.age %></li>
<li>Height: <%= @athlete.height %></li>
<li>Weight: <%= @athlete.weight %></li>
<li>Gender: <%= @athlete.gender %></li>
<li>Skill: <%= @athlete.skill %></li>
<li>Power: <%= @athlete.power %></li>
<li>Speed: <%= @athlete.speed %></li>
<li>Endurance: <%= @athlete.endurance %></li>
<li>Reflex: <%= @athlete.reflex %></li>
<li>Technique: <%= @athlete.technique %></li>
<li>Mentality: <%= @athlete.mentality %></li>
<li>True Height: <%= @athlete.true_height %></li>
<li>True Weight: <%= @athlete.mentality %></li>



</ul>

