<h1>Athlete Details</h1>

<ul>
<li><%= @athlete.age %></li>
<li><%= @athlete.height %></li>
<li><%= @athlete.weight %></li>
<li><%= @athlete.gender %></li>
<li><%= @athlete.skill %></li>
<li><%= @athlete.power %></li>
<li><%= @athlete.speed %></li>

</ul>

