<div id="athlete_tp_block">
<div id="athlete_tp">
<%= form_for @athlete, :remote => true do |f| %>
  <ul>
    <li>Gender         <br />
      <%= @athlete.gender =%></lt>
   <li>Age         <br />
     <%= select(:athlete, :age, [['Normal', 1], ['Old', 2], ['Young', 3]], {:selected => @edathlete.age}) %></li>
   <li>Weight         <br /> 
     <%= select(:athlete, :weight, [['Normal', 1], ['Light', 2], ['Heavy', 3]], {:selected => @edathlete.weight}) %></li>
   <li>Skill         <br />
     <%= select(:athlete, :skill, [['Amateur', 1], ['Scrub', 2], ['Prodigy', 3]], {:selected => @edathlete.skill}) %></li>
   <li>Height         <br />
 <%= select(:athlete, :height, [['Normal', 1], ['Short', 2], ['Tall', 3]], {:selected => @edathlete.height}) %>

</li>
   <li>
    <%= f.submit "Submit" %>
    </li>
   <script>
   </script>

 </ul>
</div>
</div>
<% end %>
