<script>
$(document).ready(function() {
  $(<%= h("edit_") + h(roster_item.id) %>).hide();
});
</script>

<div id=<%= roster_item.id %> class = "roster_item">
 
 
	<div id=<%= h("pic_") + roster_item.id %> class="roster_icon">
		<% if roster_item.gender == "Male" %>
  			<img id="athlete_portrait" src='images/male_ath_icon.png'>
  		<% else %>
  			<img id="athlete_portrait" src='images/female_ath_icon.png'>
		<% end %>
	</div>
	
	<div id=<%= h("stats_") + h(roster_item.id) %> class="roster_stats">
		
  <ul>
  	<li><%= roster_item.name %><br/>Gender: <%= roster_item.gender =%>
       <br />
    Age: 
     <% if roster_item.age == 1 %>
     Normal

     <% elsif roster_item.age == 2 %>
     Old
     <% else %>
     Young 
     <% end %>

 </li>
     <li>
 Weight:     
     <% if roster_item.weight == 1 %>
     Normal

     <% elsif roster_item.weight == 2 %>
     Light
     <% else %>
     Heavy
     <% end %>
<br />
 Height:     
     <% if roster_item.height == 1 %>
     Normal

     <% elsif roster_item.height == 2 %>
     Short
     <% else %>
     Tall
     <% end %>
<br />
   Skill:    
     <% if roster_item.skill == 1 %>
     <span id="silver_text">Amateur</span>
     
     <% elsif roster_item.skill == 2 %>
     <span id="bronze_text">Scrub</span>
     <% else %>
     <span id="gold_text">Prodigy</span>
     <% end %>
</li><li>
   <% if creation_mode? %><br />
   <img src="images/tp.png"><br />
   <%= link_to "Edit TPs", edit_athlete_path(roster_item.id), :remote => true, :class =>"tp_link" %>
   </li>
<li>
     <%= roster_item.tps %>
</li>
<% end %>
  </ul>
  </div>

<div id=<%= h("edit_") + h(roster_item.id) %> class="edit_panel">
</div>
</div>	