<div id="roster_item">
  <ul>
   <li><%= roster_item.age =%></li>
   <li><%= roster_item.gender =%></li>
   <li><%= roster_item.weight =%></li>
   <li><%= roster_item.skill =%></li>
   <li><%= roster_item.height =%></li>
   <li><%= roster_item.power =%></li>
   <li><%= roster_item.speed =%></li>
   <li><%= roster_item.endurance =%></li>
   <li><%= roster_item.reflex =%></li>
   <li><%= roster_item.technique =%></li>
   <li><%= roster_item.mentality =%></li>
  </ul>
</div>
