<div id="upper_block">


<div id="next_event_container">
  <%= render 'shared/next_event' %>
</div>

      

      <div id = "results_container">
	<h2>Results Go Here</h2>
      </div>
</div>

<div id="lower_block">      
      <div id = "tab_bar_container">
	<%= render 'shared/tab_bar' %>
      </div>

<div id = "content_container">

<div class="left_content">
 <h1>All users</h1>

<%= will_paginate @users %>
<ul class="users">
  <%= render @users %>
</ul>
</div>
<div class="right_content">
  <div class="admin_right_content">
    <p>Stuff here</p>
    <%= link_to 'Generate Stats', :controller => 'gamestate', :action => 'generate_athletes' %>
<br/>
    <%= link_to 'View Athletes', athletes_path %><br>
    <%= link_to 'Activate Creation Mode', :controller => 'gamestate', :action => 'activate_creation' %><br>
    <%= link_to 'Dectivate Creation Mode', :controller => 'gamestate', :action => 'deactivate_creation' %><br>
	<%= link_to 'Turn on Help Tips', :controller => 'gamestate', :action => 'activate_help_tips' %>



  </div>
</div>
  
</div>

<div id="spam_container">
  <%= render '/shared/spamfeed' %>
  
  <%= render '/shared/spampost_form' %>
</div>


</div>
