<div id="upper_block">
<div id="next_event_container">
  <%= render 'shared/next_event' %>
</div>


<div id ="results_container">
  <h2>Results Go Here</h2>
</div>

<div id ="lower_block">

<div id ="tab_bar_container">
   <% if signed_in? %>

  <%= render 'shared/tab_bar' %>
	  <% end %>

</div>

<% if help_tips? %>
<div id="help_box_spam">
	<h1>SpamBox</h1>
 <p class="welcome_text">The SpamBox is like an internal twitter feed for Gold and Glory. Post a message and it'll turn up here for other players to read.</p> <div class="button_row"> <button id="hide_spam">Got it! Now go away...</button> <%= button_to "Turn Off Help Tips", :controller => 'users', :action => "deactivate_help_tips", :remote => true %></div></div>
<% end %>

<div id="spam_container">
  <% if signed_in? %>

  <%= render '/shared/spamfeed' %>
  
  <%= render '/shared/spampost_form' %>
    <% end %>

</div>

<div id = "content_container">
  <% if signed_in? %>
  
  <h1>Welcome to Gold and Glory</h1> 
  
  <% if creation_mode? %>
  <h2>Creation Mode Active!</h2>
  <% end %>
  <p class="welcome_text">"As a new coach, you've been seeded with a roster of your nation's current Athletic talent. You can use the Talent Points you've been granted to make your athletes more skillful. 
  However, there aren't many points to spend. If you want more you'll have to earn them by removing attributes from other athletes."</p>
  
 



<% else %>
<div>
  <h1>Gold and Glory is under development</h1>
  <div id ="logo_image">
    <img src="/images/logo.jpg">
  </div>
  
  <span class="huge descriptive"><p><%= link_to "Sign Up", users_new_path %></p>
    <p>or</p>
    <p><%= link_to "Sign In", signin_path %></p></span>


  <% end %>
  
<script>



	$(".help_tips_off").click(function(){
		
		user.help_tips = false;

	}
	);

  $("#hide_spam").click(function(){

		$("#help_box_spam").animate({"left": "+=500px"}, 400, function(){
  			$("#help_box_spam").animate({"opacity": 0}, 1); 
  			}
  			)
  			}
  			);
  
  </script>  
  
</div>
</div>
