<div id="upper_block">

<div id="next_event_container">
  <div class="next_event_content">
    <%= render 'shared/next_event' %>
  </div>
</div>
  

<div id ="results_container">
  <%= render 'shared/results' %>
</div>

</div>

<div id = "tp_total_container">
	<div id = "tp_total_content">
	  <div id = "tp_total_board">
  		<p><span id="live_tp_tally" class="fat_white"></span></p>
	  </div>
	  <div id = "refund_total_board" class="refund_underspent">
  		<p><span id="live_refund_text">Refunds</span><span id="live_refund_tally">2</span></p>
	  </div>

	</div>	
</div>


<div id="lower_block">    

<div id = "tab_bar_container">
  <%= render 'shared/tab_bar' %>
</div>


<% if help_tips? %>
<div id="help_box_1">
	<h1>Help Tip</h1>
 <p class="welcome_text">Spend and re-distribute talent points till you achieve equillibrium and the 'TP spent' indicator turns green with a Tick-Mark (<img src="/images/pt_left_pointer_green_small.png">). 
  You can come back to this page and change your athletes at any point before stats are rolled. </p> <div class="button_row"> <button id="hide_1">Got it! Now go away...</button><%= button_to "Turn Off Help Tips", {:controller => 'users', :action => "deactivate_help_tips"}, :class => 'hide_help_tips_button', :remote => true %></div></div>
<% end %>


<div id = "content_container">
  <h1>Spend those talent points!</h1>

  <script>

    function refund_total() {
    var refundspent = 0;
   $(".penalty_tps").each(function() {
  			refundspent += Number($(this).text());  			
 		}); 
	  		$("#live_refund_tally").text(""+refundspent);

      		if (refundspent > 40) {
			$('#refund_total_board').removeClass('refund_underspent');
  			$('#refund_total_board').addClass('refund_overspent');
    }
    else {
			$('#refund_total_board').removeClass('refund_overspent');
  			$('#refund_total_board').addClass('refund_underspent');
    }
    };


   function tp_spent_total() {
   		console.log("TPspentTotalcalled");
   refund_total();
		
    var tpsspent = 0;
  		var tpleft = 500;
  		$(".tps_spent").each(function() {
  			tpsspent += Number($(this).text());  			
  			// OR new var = tpspent -500. Test best.
  		}); 
  		tpleft -= tpsspent
  		if (tpleft > 0) {
	  		$("#live_tp_tally").text(""+tpleft +"  Unspent TPs");
  			$('#tp_total_board').removeClass('tp_overspent');
  			$('#tp_total_board').removeClass('tp_perfect');

			$('#tp_total_board').addClass('tp_underspent');


   


  		}
  		else if (tpleft < 0) {
  			$("#live_tp_tally").text(""+tpleft +" TPs");
  			$('#tp_total_board').removeClass('tp_underspent');
  			$('#tp_total_board').removeClass('tp_perfect');

			$('#tp_total_board').addClass('tp_overspent');




  		}
  		
  		else {
  			$("#live_tp_tally").text("");
  			$('#tp_total_board').removeClass('tp_underspent');
  			$('#tp_total_board').removeClass('tp_overspent');

			$('#tp_total_board').addClass('tp_perfect');


  		}
  		
	};
	
	

	$(document).ready(function() {
		var top = $('#tp_total_content').offset().top - parseFloat($('#tp_total_content').css('marginTop'));
		$(window).scroll(function() {
		//
		///document.getElementById(controlId).offsetTop
	
			// find the y position of the scroll

// as of 1.4.2 the mobile safari reports wrong values on offset()
// http://dev.jquery.com/ticket/6446
// remove once it's fixed
		
		var	y = $(this).scrollTop();
		
		
		if((navigator.userAgent.match(/iPad/i))) {
  			y -= window.scrollY;
       	};
				
			
			if (y >= top) {
				$('#tp_total_content').addClass('fixed');
			}
			else {
				$('#tp_total_content').removeClass('fixed');
			}
			// if so add fixed
			
			
			// else remove
		});
	});
   
  $("#hide_1").click(function(){

		$("#help_box_1").animate({"left": "-=500px"}, 400, function(){
  			$("#help_box_1").animate({"opacity": 0}, 1); 
  			}
  			)
  			}
  			);
  
  </script>
  

  
  <div id="roster_container">
    <h3>Your Roster</h3>
    <%= render '/shared/roster' %>
  </div> 
  
</div>

<div id="spam_container">
  <%= render '/shared/spamfeed' %>
  
  <%= render '/shared/spampost_form' %>
</div>



</div>
