<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
   <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag 'custom',  :media => 'screen' %>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
<%= javascript_include_tag 'rails' %>
<%= csrf_meta_tag %>
</head>
<body>

<div id="page_container">
  <%= render 'layouts/header' %>
 <script>

   $('#athlete_age').keyup(function() {   });
 </script>

	        <% flash.each do |key, value| %>
          		<%= content_tag(:div, value, :class => "flash #{key}") %>
	        <% end %>
<%= yield %>
  
</div>
</body>
</html>
